﻿html, body {
    height: 100%;
    background-color: #E8E9EE;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.wrapper {
    height: 100%;
}

div#page-content {
    margin-left: 180px;
    padding-top: 50px;
}

/*-------------------top menu------------------*/
.navbar-header {
    text-align:center;
    width:180px;
    height:48px;
    padding-top:5px;
}

.navbar-brand {
    float:none;
    font-size:33px;
}
    .navbar-brand i {
        padding-right:4px;
    }

.navbar-form {
    padding-top:7px;
    padding-bottom:7px;
}

/*----------Maybe delete later------------------*/
circle.pane-Lens-Circle:hover {
    opacity: 0.7;
    stroke: #0593fa;
    stroke-width: 2px;
}

/*------------Define each view------------------*/
.view-title {
    text-align:center;
    border: none;
    border-radius: 0;
}

.view-title-md-red {
    font-size:20px;
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #E9573F;
}
.view-title-lg-yellow {
    padding-top: 30px;
    padding-bottom: 5px;
    background: #F6BB42;
}

.view-title-lg-yellow .glyphicon {
    font-size:80px;
}
.view-title-lg-yellow p {
    font-size:30px;
    margin:0 0 5px;
}



.view-title-sm-green {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1abc9c;
}

.view {
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin-top: 20px;
}


div#mapView {
    background-color: #fff;
}

div#historyView {
    background-color: #fff;
    height: 60%;
}
/*---------------tweets view-------------*/
div#tweetsView {
    background-color: #fff;
    max-height: 37%;
}


.list-group {
    margin-bottom: 0px;
}

.list-group-item {
    border: none;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

    .list-group-item:first-child {
        border-radius: 0;
    }

    .list-group-item:last-child {
        border-radius: 0;
        border-bottom: none;
    }

.pagination {
    margin: 0px;
}

/*-----------curve view------------*/
div#curveView {
    background-color: #3BAFDA;
}

.progress {
    border-radius:0px;
}
.progress-bar {
    background-color:#3BAFDA;
}

/*rgb(31, 145, 189);*/
.curve.axis path,
.curve.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.curve.axis text {
    fill:#fff;
    font-size: 12px;
}

/*-----------MapLens------------*/
#states {
    fill: rgb(222,235,247);
}

    #states .active {
        fill: orange;
    }

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

/*-----------sidebar nav------------*/
.nav-side-menu {
    background-color: #f7f7f7;
    overflow: hidden;
    outline: none;
    position: fixed;
    height: 100%;
    width: 180px;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #dae3e9;
    font-size: 13px;
}

    .nav-side-menu .nav-brand {
        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
    }

    /*li.active {
            border-left: 1.6px solid #d19b3d;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;

}*/
    .nav-side-menu li.active,
    .nav-side-menu li:hover {
        border-left: 1.6px solid #d19b3d;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .nav-side-menu .menu-list ul,
    .nav-side-menu .menu-list li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
        padding-left: 0px;
        border-bottom: 1px solid #dae1e8;
    }

    .nav-side-menu .menu-list li {
        /*text-decoration: none;*/
        color: #6e829b;
    }

        .nav-side-menu .menu-list li i {
            padding-left: 10px;
            width: 20px;
            padding-right: 5px;
        }

        .nav-side-menu .menu-list ul:not(collapsed) .arrow:before,
        .nav-side-menu .menu-list li:not(collapsed) .arrow:before {
            display: inline-block;
            /*padding-left: 5px;
            padding-right: 10px;*/
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu .menu-list li.panel {
            background-color: #f7f7f7;
        }

    /*.nav-side-menu .menu-list ul .active,
        .nav-side-menu .menu-list li .active {
            border-left: 3px solid #d19b3d;
            background-color: #f7f7f7;
        }*/

    /*.nav-side-menu .menu-list ul .sub-menu li.active,
        .nav-side-menu .menu-list li .sub-menu li.active {
            color: #d19b3d;
        }*/

    /*.nav-side-menu .menu-list ul .sub-menu li.active a,
            .nav-side-menu .menu-list li .sub-menu li.active a {
               color: #6e829b;
            }*/

    /*.nav-side-menu ul .sub-menu li,*/
    .nav-side-menu li .sub-menu li {
        border: none;
        line-height: 28px;
        /*border-bottom: 1px solid #dae1e8;*/
        /*margin-left: 0px;*/
        text-align: center;
    }

        /*.nav-side-menu ul .sub-menu li:hover,*/
        .nav-side-menu li .sub-menu li:hover {
            background-color: rgb(189, 195, 199);
        }

    .nav-side-menu .menu-list .menu-content {
        display: block;
    }


/*-----------Adaptive row height------------*/
.container-fluid {
    height: 100%;
}

.row-1 {
    height: 8.33333333%;
}

.row-2 {
    height: 16.66666667%;
}

.row-3 {
    height: 25%;
}

.row-4 {
    height: 33.33333333%;
}

.row-5 {
    height: 41.66666667%;
}

.row-6 {
    height: 50%;
}

.row-7 {
    height: 58.33333333%;
}

.row-8 {
    height: 66.66666667%;
}

.row-9 {
    height: 75%;
}

.row-10 {
    height: 83.33333333%;
}

.row-11 {
    height: 91.66666667%;
}

.row-115 {
    height: 93%;
}

.row-12 {
    height: 100%;
}
